.country{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.country .c-txt{
    background-color: aqua;
    width: 50%;
    text-align: center;
}
.country .c-txt h3{
    font-size: 2rem;
    color: #15357A;
    font-weight: 600;
}
.country .c-txt span{
    font-size: 0.8rem;
}
.image-area{
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
    width: 90%;
    gap: 3rem;
    height: 23rem;
}

.img-div{
    position: relative;
    color: white;
}
.img-div img { 
height: 20rem;
width: 15rem;
object-fit: contain;

}
.img-div .overlay-txt{
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 0.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15rem;
}
.img-div .overlay-txt .flag-img{
    height: 2.3rem;
    width: 2.3rem;
    object-fit: contain;
    border: 0.3rem solid white;
    border-radius: 100px;
    outline: 1px solid black;
    position: absolute;
    bottom: -15px;
    right: 0.6rem;
}
.img-div .overlay-txt .c-i-area{
    display: flex;
    justify-content: space-between;
}
.img-div .overlay-txt .c-i-area .bottom-part{
    display: flex;
    gap: 1rem;
}
.img-div .overlay-txt .c-i-area .bottom-part span{
    font-size: 0.9rem;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 50px;
}
.img-div-type-2{
   margin-top: 3rem;

}
@media (max-width:500px) {
    .country .c-txt{
       
        width: 90%;
    
    }
    .country .c-txt h3{
        font-size: 1.5rem;
        
    }
  
}