.offer-bar{
    background-color: #05256A;
    color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 700;
}
.navbar{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #00AC6B;
    color: white;
    padding: 0 3rem;
}
.navbar .logo-area img{
    height: 2.5rem;
    object-fit: contain;
    margin-top: 1rem;
}
.navbar .links-area ul{
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}
.navbar .links-area li{
   list-style: none;
   font-size: 0.8rem;
}
.navbar  .login-area{
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-top: 1rem;
}
.navbar  .login-area .menu{
    display: none;
}
.navbar  .login-area .login{
    background-color: transparent;
    border: none;
    color: white;
}
.navbar  .login-area .demo{
height: 2.5rem;
width: 8.5rem;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50px;
  color: white;
}
/* Banner starts here  */
.banner{
    background-color: #00AC6B;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    color: white;
    height: 400px;
}
.banner .b-txt{

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 11rem;
}
.banner .b-txt h2{
    font-weight: 300;
    font-size: 2.2rem;
   
}
.banner .b-txt h2 span{
    font-weight: 700;
}
.banner .b-txt p{
    font-size: 0.7;
    font-weight: 300;
}
.banner .b-txt button{
    height: 2.7rem;
    width: 6rem;
    border-radius: 50px;
    border: none;
    background-color: #2C71F0;
    color: white;
}
.banner .b-img img{
   height: 450px;
   width: 600px;
 object-fit: contain;
}
@media (max-width: 1200px) {
    .banner .b-txt{

       
        padding-left: 7rem;
    }
}
@media (max-width: 1000px) {
    .banner .b-txt{

       
        padding-left: 3rem;
    }
}
@media (max-width: 900px) {
    .navbar{

        padding: 0 1rem;
    }
    .navbar .logo-area img{
     
        width: 5rem;
  
    }
   .banner{
    display: flex;
    flex-direction: column-reverse;

    height: 500px;
   }
   .banner .b-img img{
    height: 200px;
    width: 400px;

 }
 .banner .b-txt h2{
    font-weight: 300;
    font-size: 1.5rem;
   
}
.banner .b-txt p{
    font-size: 0.7;
    font-weight: 300;
    width: 80%;
}
.banner .b-txt{       
    padding-left: 0rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}
}

@media (max-width: 750px) {
    .links-area {
        display: none;
    }  
    .navbar  .login-area .menu{
        display: block;
        cursor: pointer;
    }

  
}

@media (max-width: 500px) {
    .banner .b-img img{
        height: 180px;
        width: 350px;
   
    }
    .banner{

    padding-top: 0rem;
    height: 450px;
    }
    .navbar  .login-area{
    gap: 1rem;     
    }
.navbar  .login-area .demo{  
    width: 6rem;
    font-size: 0.6rem;      
    }
    .offer-bar{
        font-size: 0.8rem;
        font-weight: 500;
        padding: 0 1rem;
    }
}