.international{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-top: 2rem;
}
.international .int-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
   
}
.international .int-heading h3{
    display: flex;
    font-weight: 500;
}
.international .int-res{
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
.international .int-res img{
    height: 15rem;
    width: 100%;
    object-fit: contain;
    
}
@media (max-width:500px) {
    .international .int-heading{
 
       text-align: center;
    }
    .international .int-heading h3{
     flex-direction: column;

    }
    .international .int-heading svg{
        display: none;
    }
    .international{
        display: flex;
        
        gap: 1rem;
        padding-top: 0.5rem;
    }
    .international .int-res img{
        height: 9rem;
     
    }
}