.brand{
display: flex;
flex-direction: column;
gap: 2rem;
}
.trust{
    display: flex;
    flex-direction: column;
    align-items: center;
}
 .brand p , strong {
    font-size: 1.3rem;
    color: #17324B;
}
.brand span{
    color: #17324B;
}
.trust img{
    object-fit: contain;
    width: 95%;
}
.support{
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 2rem;
}
.brand .sup-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.services{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
   flex-wrap: wrap;
}

.service-div{
    display: flex;
    flex-direction: column;
    align-items: center;
gap: 0.3rem;
    border-right: 1px solid rgb(209, 209, 209);

    width: 15%;
}
.service-div span{
    font-size: 0.9rem;
}
.last-ser{
    border-right: none;
}
.employees{
    display: flex;
    width: 80%;
 flex-wrap: wrap;
 gap: 2rem;
 align-items: center;
 justify-content: center;
}
.employees-area{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 30%;
}
.employees-area span{
    font-weight: 600;
    color: #15357A;
}
.employees-area p{
    font-size: 0.9rem;
}